@font-face {
    font-family: 'Montserrat Thin';
    src: url('./assets/Montserrat-VariableFont_wght.ttf') format('woff2')

}

@font-face {
    font-family: 'Action display';
    src: url('./assets/f24q3238-action-display-action-display-regular-400.ttf') format('ttf')

}

body{
    background-color: rgb(190, 244, 244);
}

div{
    justify-content: center;
    align-items: center;
    text-align: center;
}

span{
    font-family: 'Action display';
    font-size: 30px;
}

img{
    width: 100px;
    height: 100px;
}