@font-face {
    font-family: 'Montserrat Thin';
    src: url('src/assets/Montserrat-VariableFont_wght.ttf') format('woff2')

}

body{
    background-color: rgb(190, 244, 244);
}

div{
    justify-content: center;
    align-items: center;
    text-align: center;
}

span{
    font-family: 'Montserrat Thin';
    font-size: 30px;
}

img{
    width: 100px;
    height: 100px;
}